{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Welcome to Division E</h1><br />
    <div>
<p class="bold">Info:</p>

<p>
    This Website is made to help everyone from Division E to find all their study materials in one place.
</p>
<p class="bold"> Class Representatives: </p>
            <ol type="1" Start=1>
                <li> Kritesh Ojha</li>
                <li> Toshali Kritika</li>
            </ol>
<p class="bold">Class Strength:</p>
50<br />
<section class="tm-makeres">
    <div class="tm-res">
        <i>Website made by Priyanshu Mishra</i></center><br /></div>
    </div>
</section>

{% endblock %}